.example {
  font-family: system-ui;
  font-size: 1.2rem;
  & > a {
    color: tomato;
    &:hover,
    &:focus {
      color: ivory;
      background-color: tomato;
    }
  }
}

.card {
  background: rgb(228, 211, 211);
  & .title {
    font-size: 2em;
  }
  &:hover {
    border: 1px solid black;
  }
}
