/* colors.module.css */

/* HWB (Hue, Whiteness, Blackness) */
.hwb1 {
  color: hwb(12 50% 0%);
}

.hwb2 {
  color: hwb(194 0% 0% / 0.5);
}

/* LAB (Lightness, A-axis, B-axis) */
.lab1 {
  color: lab(50% 40 59.5);
}

.lab2 {
  color: lab(50% 40 59.5 / 0.5);
}

/* LCH (Lightness, Chroma, Hue) */
.lch1 {
  color: lch(52.2% 72.2 50);
}

.lch2 {
  color: lch(52.2% 72.2 50 / 0.5);
}
